footer {
    background-color: #e7e7e7;
    padding: 10px;
    color: black;
}

.row-icon {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
.column-icon {
    flex:50%;
    font-size: 30px;
    max-width: 30px;
}
footer > hr {
    width: 40%;
    border-top: 1px solid black!important;
    margin-left: auto;
    margin-right: auto;
}
footer > p {
    text-align: center;
    padding: 5px;
}
.column-icon > a {
    position: absolute;
    color:black;
}

.column-icon {
    width: 70px;
    height: 70px;
}